/* login screen  */

/* .custom-toast {
	font-size: 14px;
  }
  
  .Toastify__close-button {
	background-color: rgb(76, 66, 183) !important;
	width: 60px;
  }

  .Toastify__close-button:hover {
	background-color: rgb(76, 66, 183) !important;
	width: 60px;
  }
   */
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 50px;
	width: 100%;
}

body{
	margin: 0 ;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.main{
	width: 550px;
	height: 600px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}

#chk{
	display: none;
}

.login{
    margin-top: -50px;
	position: relative;
	width:100%;
	height: 90%;
}

form[action="/login"] input, 
form[action="/login"] button {
	/* color: red; */
	margin-top: 40px;
  }

label{
	color: #fff;
	font-size: 3.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
    margin-top: 100px;
}

input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 20px;
	border: none;
	outline: none;
	border-radius: 5px;
}

button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	display: flex;
	align-items: center !important;
	justify-content: center !important;
	color: #ffffff ;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

button:hover{
	background: black !important;
}

.signup {
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}

.signup label{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .signup{
	transform: translateY(-550px);
}

#chk:checked ~ .signup label{
	transform: scale(1);	
}

#chk:checked ~ .login label{
	transform: scale(.6);
}

@media screen and (max-width: 732px) {
	.main-container {
		margin: 20px 0 !important; 
	}
	
	.main {
		width: auto;
		min-width: 400px;
		margin: 0 !important;
		/* height: 500px; */
	}
}
@media screen and (max-width: 624px) {
	.main {
		width: auto;
		min-width: 350px;
		margin: 0;
	}
}
@media screen and (max-width: 400px) {
	.main {
		width: auto;
		min-width: 300px;
		margin: 0;
	}
}