* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* width: 100%; */
    /* background-color: #c31111 !important; */

}

body {
  /* width: 100%; */
  /* overflow: hidden; */
}

.custom-toast {
	/* color: rgb(234, 7, 7); */
	font-size: 14px;
  }
  
  .Toastify__close-button {
    background-color: rgb(76, 66, 183) !important;
    width: 60px;
    margin-top: 3px;
  }

  .Toastify__close-button:hover {
    background-color: rgb(76, 66, 183) !important;
    width: 60px;
  }
